<div class="vh-100 mt-4">
  <h1 class="text-center mb-4">Rick and Morty Universe Statistics</h1>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Characters</h5>
          <p class="card-text display-4">{{ characterCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Episodes</h5>
          <p class="card-text display-4">{{ episodeCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Locations</h5>
          <p class="card-text display-4">{{ locationCount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
