<header class="d-flex align-items-center justify-content-end px-5">
  <div class="search d-flex justify-content-start w-100">
    <i class="bi bi-search"></i>
    <input class="w-75 ms-3" type="text" placeholder="Buscar..." />
  </div>
  <div class="profile">
    <div
      class="img-profile d-flex align-items-center justify-content-center border-start border-info"
    >
      <div class="icon d-flex align-items-center justify-content-center mr-3">
        <i class="bi bi-person"></i>
      </div>
      <span class="ms-3">Username</span>
    </div>
  </div>
</header>
