@import "../../../styles/variables.scss";

header {
  min-height: 68px;
}

.search {
  i {
    color: $white-normal;
    font-size: 18px;
  }
  input[type="text"] {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.6rem;
    background-color: $black-dark;
    color: $white-normal;
    border: 1px solid $black-dark;
  }
  &:focus {
    border: 1px solid $blue-dark;
  }
  ::placeholder {
    color: $gray-500;
  }
}

.profile {
  width: 100%;
  max-width: 22rem;
  height: 100%;
  .img-profile {
    .icon {
      width: 48px;
      height: 48px;
      background-color: $black-light;
      border-radius: 100px;
      margin-left: 12px;
      i {
        color: $white-dark;
      }
    }
    span {
      color: $white-light;
      font-family: "Barlow";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }
}
