<div class="wrapper">
  <aside id="sidebar" [class.expand]="isOpen" [class.closed]="!isOpen">
    <div class="d-flex">
      <button (click)="toggle()" id="toggle-btn" type="button">
        <i class="bi bi-columns-gap"></i>
      </button>
      <div class="sidebar-logo">
        <a href="#">
          <img src="/img/logo.png" alt="" />
        </a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="bi bi-house"></i>
          <span class="ms-3">Home</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="bi bi-person-badge"></i>
          <span class="ms-3">Personagens</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="bi bi-camera-reels"></i>
          <span class="ms-3">Episódios</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a href="" class="sidebar-link">
        <i class="bi bi-box-arrow-left"></i>
        <span class="ms-3">Logout</span>
      </a>
    </div>
  </aside>

  <div class="main">
    <header class="d-flex align-items-center justify-content-end py-3">
      <div class="search d-flex justify-content-center w-100">
        <i class="bi bi-search"></i>
        <input class="w-75" type="text" placeholder="Buscar..." />
      </div>
      <div class="profile">
        <div class="img-profile">
          <i class="bi bi-person"></i>
          <span>Username</span>
        </div>
      </div>
    </header>
  </div>
</div>
