<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex">
      <button id="toggle-btn" type="button">
        <i class="bi bi-columns-gap"></i>
      </button>
      <div class="sidebar-logo">
        <a href="#">
          <img src="/img/logo.png" alt="" />
        </a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="bi bi-house"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="bi bi-person-badge"></i>
          <span>Personagens</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="bi bi-camera-reels"></i>
          <span>Episódios</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a href="" class="sidebar-link">
        <i class="bi bi-box-arrow-left"></i>
        <span>Logout</span>
      </a>
    </div>
  </aside>
  <main class="main p-3">
    <div class="text-center">
      <h1>Sidebar Bootstrap</h1>
    </div>
  </main>
</div>
