<div class="mt-5">
  <h1 class="text-center mb-4">Episódios de Rick and Morty</h1>
  <div class="row mb-4">
    <div class="d-flex col-md-12">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar o episódio por nome..."
        [(ngModel)]="query"
        (keydown.enter)="onFilterChange()"
      />
      <button
        class="btn btn-info ms-2 fs-4"
        (click)="onFilterChange()"
        (keyup.enter)="onFilterChange()"
      >
        Pesquisar
      </button>
    </div>
  </div>
  <div *ngIf="episodes.length > 0; else noEpisodes">
    <div class="row">
      <div *ngFor="let episode of episodes" class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ episode.name }}</h5>
            <p class="card-text">
              <strong>Data ao Ar:</strong> {{ episode.air_date }}
            </p>
            <p class="card-text">
              <strong>Episódio:</strong> {{ episode.episode }}
            </p>
            <a [routerLink]="['/episode', episode.id]" class="btn btn-info"
              >Ver Detalhes</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noEpisodes>
    <div class="col">
      <p class="text-center">No episodes found.</p>
    </div>
  </ng-template>
</div>
