@import "../../../styles/variables.scss";

nav,
sidebar {
  background-color: $black-normal;
}

.sticky-top {
  top: 6.8rem;
}

.nav-item {
  &:hover {
    background-color: $blue-dark;
    color: $black-dark;
  }
}

.sidebar-footer {
  &:hover {
    background-color: $blue-dark;
    a {
      color: $black-dark;
    }
  }
}
